<%- include('../includes/header') %>

    <h1>Login into your account</h1>
    <p class="error-msg"><%= errorMsg %></p>
    <form action="/login" method="post" class="create-form" >
        <input name="_csrf" value="<%= csrfToken %>" type="hidden"/>
        <div class="form-box">
            <label for="email" >Enter your email</label>
            <input type="text" id="email" name="email" />
        </div>
        <Br>
        <div class="form-box">
            <label for="password" >Enter your password</label>
            <input type="text" id="password" name="password" />
        </div>
        <br>
        <button>Login</button>
        <bR>
        
        <p class="login-register-info">You didn't have the account yet? <a href="/register">Register Here!</a></p>
        <a href="reset-password" >Forget Password?</a>
    </form>

    <a href="/">Back to Home Page</a>
    
<%- include('../includes/footer') %>