<%- include('../includes/header') %>

    <h1>Login into your account</h1>
    <form action="/login" method="post" class="create-form" >
        <div class="form-box">
            <label for="email" >Enter your email</label>
            <input type="text" id="email" name="email" />
        </div>
        <Br>
        <div class="form-box">
            <label for="password" >Enter your password</label>
            <input type="text" id="password" name="password" />
        </div>
        <br>
        <button>Login</button>
    </form>

    <a href="/">Back to Home Page</a>
    
<%- include('../includes/footer') %>